<div class="pagination">
    <button class="pagination__button pagination__button_left"></button>
    <ul class="pagination__number-list">
        <li class="pagination__number-item">
            <button
                class="pagination__button pagination__button-number pagination__button-number_active">1</button>
        </li>
        <li class="pagination__number-item">
            <button class="pagination__button pagination__button-number">2</button>
        </li>
        <li class="pagination__number-item">
            <button class="pagination__button pagination__button-number">3</button>
        </li>
        <li class="pagination__number-item">
            <button class="pagination__button pagination__button-number">4</button>
        </li>
    </ul>
    <button class="pagination__button pagination__button_right"></button>
</div>