<section class="category-product-section">
  <a href="/../pages/catalog/index.html" class="ctegory-products-section__title-link">
    <h2 class="section-title">Category Products</h2>
  </a>
  <ul class="category-product-section__list">
    <li class="category-product-section__item">@@include('category-product-link/index.html',{
      "img-name":"product-button-1.jpg",
      "href":"#",
      "link-name":"APPAREL KIDS"
      })</li>
    <li class="category-product-section__item">@@include('category-product-link/index.html',{
      "img-name":"product-button-2.jpg",
      "href":"",
      "link-name":"HOLIDAY SHOP"})</li>
    <li class="category-product-section__item">@@include('category-product-link/index.html',{
      "img-name":"product-button-3.jpg",
      "href":"/../pages/toys/index.html",
      "link-name":"toys"})</li>
    <li class="category-product-section__item">@@include('category-product-link/index.html',{
      "img-name":"product-button-4.jpg",
      "href":"",
      "link-name":"ACCESSORIES"})</li>
  </ul>
  @@include('category-buttons/index.html')
</section>