.category-product{
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  &__item{

  }
}



  




/*DELIVERY*/


.delivery-block{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 91px;
  &__photo{
    width: 480px;
    height: 559px;
    margin-right: 120px;
  }
  &__article{
    max-width: 480px;
    transform: translateY(-2px);
  }
  &__article-title{
    margin-bottom: 0;
    line-height: 47px;
  }
  &__nav-list{
  
    margin-top: 8px;
    margin-bottom: 0px;
  }
  &__nav-item:nth-child(2),
  &__nav-item:nth-child(3){
    margin-top: 0px;
  }
  &__text-block{
    margin-top: 16px;
    margin-bottom: 25px;
  }

}


  
  


















  





/*PARTNERS*/

.partners-block{
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 110px;
  }
  &__link{
    display: block;
  }
}
  





/*DESIGN LIFE KIDS*/


.about-us-block{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 99px;
}

.article-block{
  
  background: #E1F0F7;
  padding: 30px;
}

.dlk-article{
  
  background: #E1F0F7;
  margin-right: 56px;
  box-sizing: border-box;
  padding-bottom: 34px;
  margin-bottom: 50px;
  
  
}

.contacts-article{
  
  box-sizing: border-box;
  position: relative;
  padding-bottom: 81px;
  margin-bottom: 24px;
  
}

.dlk-title,
.contacts-block-title{
  margin: 0;
  margin-top: -55px;
}

.dlk-subtitle{
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;

  /* identical to box height */

  color: #1E0606;
  margin-top: 13px;

  
}

.dlk-info{
  margin-top: -17px;
  max-width: 483px;
}

.dlk-btn{
  margin-top: 4px;
  margin-bottom: 0px;
}

.contacts-info{
  margin-top: 20px;
  max-width: 483px;
  margin-bottom: 20px;
  
}


.map-block{
  width: 483px;
  height: 196px;
  position: absolute;
  background-image: url(/../../static/images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  
}



.modal-window{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 151, 218, 0.8);
  z-index: 100;
  
}
