/*CATEGORY PRODUCTS*/

.category-product-block{
    margin-bottom: 75px;
}


.category-product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-container__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 270px;
    padding: 40px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    margin-bottom: 20px;
}

.grid-container__link_1{
    background-image: url(/../static/images/product-button-1.jpg);
}


.grid-container__link_2{
    background-image: url(/../static/images/product-button-2.jpg);
}


.grid-container__link_3{
    background-image: url(/../static/images/product-button-3.jpg);
}

.grid-container__link_4{
    background-image: url(/../static/images/product-button-4.jpg);
}


.grid-container__link_5{
    background-image: url(/../static/images/product-button-5.jpg);
}


.grid-container__link_6{
    background-image: url(/../static/images/product-button-6.jpg);
}

.category-product-nav-block{
    display: flex;
    align-items: center;
    margin-top: -23px;
}

.arrow-buttons-block{
    display: flex;

    margin-right: 14px;

}

.arrow-button{
    width: 37px;
    height: 37px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
    background-image: url(/../static/images/left-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 6px;
}

.arrow-button:nth-child(2){
    background-image: url(/../static/images/right-arrow.svg);
}

.category-product-nav-text{
    max-width: 580px;
}