/*CATEGORY PRODUCT*/


.contact-us-title{
    margin-top: -70px;
    margin-bottom: 16px;
}


.contact-us-uniting-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 49px;
    margin-bottom: 22px;
}

.contact-us-form{
    display: flex;
    flex-direction: column;
    width: 57.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
    background-color: #E5EAF8;
    padding: 41px 40px;
    
    box-sizing: border-box;
    margin-bottom: 40px;
}

.contact-us-form label{
    margin-bottom: 7px;
}



.double-input-block{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}

.input-block:nth-child(1){
    margin-right: 20px;
}

.input-block{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100px;
    width: 289px;
}

.textarea-label{
    display: flex;
    flex-direction: column;
}

.contact-us-form input{
    height: 50px;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px 20px;
    margin-bottom: 19px;
    box-sizing: border-box;
    
}

.contact-us-form textarea{
    font-size: 18px;
    height: 150px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 14px 20px;
    margin-top: 7px;
    resize: none;
    margin-bottom: 15px;
    
}

.form-checkbox{
    position: absolute;
    opacity: 0;

}

.form-checkbox_newstyle{
    position: relative;
    margin-right: 34px;
    
}

.form-checkbox_newstyle::before{
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    box-sizing: border-box;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    
}

.form-checkbox:checked + .form-checkbox_newstyle::after{
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    box-sizing: border-box;
    border-radius: 3px;
    background-image: url(/../static/images/checked.svg);
    background-repeat: no-repeat;
    background-position: 1px -2px;
    top: 50%;
    transform: translateY(-50%);

}

.form-checkbox:focus + .form-checkbox_newstyle::before{
    border: 3px solid #C29974;
}

.form-button{
    margin-top: 13px;
}


.contact-us-info-block{
    max-width: 380px;
}

.contact-us-info-block p:nth-child(1){
    margin-top: 0;
    margin-bottom: 20px
}




.contact-us-info-text{
    font-size: 16px;
    line-height: 22px;
}


.contact-us-info-text_big{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase; 
    color: #C29974;
    margin-top: 19px;
}




/*MODAL*/

.modal-window{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 151, 218, 0.8);
    z-index: 100;
    
}


.modal-form{
    position: absolute;
    max-width: 680px;
    right: 50%;
    transform: translateX(50%);
    top: 25%;
}

.close-form-button{
    position: absolute;
    width: 15px;
    height: 15px;
    right: -26px;
    top: 0;
    background-color: initial;
    background-image: url(/../static/images/close-cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;



}


.form-checkbox{
    position: absolute;
    opacity: 0;

}


.form-checkbox:checked + .modal-form-checkbox_newstyle::after{
    background-color: initial;
}

.form-checkbox:focus + .form-checkbox_newstyle::before{
    border: 3px solid #C29974;
}