/*DELIVERY*/


.delivery-section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 91px;
    
}

.delivery-section-photo{
    width: 480px;
    height: 559px;
    margin-right: 120px;
    
    
}

.delivery-info-section__info-block{
    max-width: 480px;
    transform: translateY(-2px);
}

.delivery-section-title{
    margin-bottom: 0;
    line-height: 47px;
}


.delivery-nav-list{
    
    margin-top: 8px;
    margin-bottom: 0px;
}




.delivery-nav-item:nth-child(2),
.delivery-nav-item:nth-child(3){
    margin-top: 0px;
}

.delivery-text-block{
    margin-top: 16px;
    margin-bottom: 25px;
}


.delivery-nav-button{
    display: block;
    width: 326px;
    height: 55px;
    box-sizing: border-box;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 19px;
    color: #1E0606;
    border: none;
    background-color: initial;
    padding-right: 180px;
    padding-left: 60px;
    margin-left: -60px;
    text-align: left;
    

}


    

.delivery-nav-button__checked{
    background-color: rgba(112, 187, 220, 0.2);
    font-weight: bold;
}

