/*TOYS*/


.toys-page-title{
    margin-top: -69px;
    margin-bottom: 16px;
}


.toys-breadcrumbs-list{
    margin-bottom: 47px;
}





.toys-catalog-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.toys-catalog-item{
    margin-bottom: 30px;
}


/*TOYS-BUTTON*/
.toys-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 380px;
    height: 487px;
    box-sizing: border-box;
    background-image: url(/../static/images/toys-button1.png);
    background-repeat: no-repeat;
    background-color: initial;
    border: none;
}



.appearing-block{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 207px;
    height: 207px;
    opacity: 0.9;
    margin: 82px auto;
    background: #E5EAF8;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: black;

    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}


.catalog-card-text{
    font-size: 14px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 39px;
}

.catalog-price{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.toys-button:hover > .appearing-block,
.toys-button:focus > .appearing-block{
    opacity: 0.9;
    transition: 0.5s;
}

.toys-button:active > .appearing-block{
    opacity: 0.6;
}
/*TOYS-BUTTON*/


.toys-button_2{
    background-image: url(/../static/images/toys-button2.png);
}

.toys-button_3{
    background-image: url(/../static/images/toys-button3.png);
}

.toys-button_4{
    background-image: url(/../static/images/toys-button4.png);
}

.toys-button_5{
    background-image: url(/../static/images/toys-button5.png);
}

.toys-button_6{
    background-image: url(/../static/images/toys-button6.png);
}


.toys-pagination-menu{
    margin-bottom: 48px;
    margin-top: 16px;
}