
.blog-block{
    margin-bottom: 45px;
}

.blog-page-title{
    margin-bottom: 5px;
}




    .card-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 48px;
        margin-bottom: 2px;
    &__item{
        margin-bottom: 16px;
    }
    }




