//BACK//

@keyframes sky {
  from{
    right: -80%;
  }
  to{
    right: 100%;
  }
}

@keyframes sun{
  0%, 100%{
    right: 50%;
    top: 5%;
    width: 3%;
  }
  50%{
    right: 70%;
    top: 35%;
    width: 10%;
  }
  51%{
    right: 20%;
    top: 35%;
  }
}

@keyframes tree{
  0%, 100%{
    transform: rotate(-3deg);
    transform-origin: 50% 100%;
  }
  50%{
    transform: rotate(3deg);
    transform-origin: 50% 100%;
  }
}

@keyframes colour{
  0%, 100%{
    background-color: rgba(255, 208, 0, 0.185);
  }
  51%{
    background-color: rgba(255, 38, 0, 0.191);
  }
}

@keyframes carOne{
  0%{
    left: -16%;
  }
  50%{
    left: 116%;
    transform: rotateY(0);
    bottom: 0%;
    width: 16%;

  }
  51%{
    transform: rotateY(180deg);
    bottom: 14%;
    width: 14%;
    z-index: -1;
  }

  100%{
    bottom: 14%;
    width: 14%;
    transform: rotateY(180deg);
    left: -16%;
    z-index: -1;
  }
}

@keyframes wheel{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(8000deg);
  }
}

@keyframes carTwo{
  0%{
    left: 116%;
    transform: rotateY(180deg);
    width: 12%;
    bottom: 14%;
    z-index: -1;
  }
  50%{
    left: -16%;
    transform: rotateY(180deg);
    bottom: 14%;
    width: 12%;
    z-index: -1;
  }
  51%{
    transform: rotateY(0);
    bottom: 0;
    width: 14%;
  
  }

  100%{
    bottom: 0;
    width: 14%;
    left: 116%;

  }
}

@keyframes lowRider{
  0%, 100%{
    transform: rotateZ(0);
    transform-origin: 15% 100%;
  }
  30%{
    transform: rotateZ(-3deg);
    transform-origin: 15% 100%;
  }
  50%{
    transform: rotateZ(0);
    transform-origin: 15% 100%;
  }
  80%{
    transform: rotateZ(-10deg);
    transform-origin: 15% 100%;
  }
}

@keyframes carThree{
  0%{
    left: -20%;
  }
  50%{
    left: 120%;
    transform: rotateY(0);
    bottom: 0%;
    width: 20%;
    
  }
  51%{
    transform: rotateY(180deg);
    bottom: 14%;
    width: 16%;
    z-index: -1;
  }

  100%{
    bottom: 14%;
    width: 16%;
    transform: rotateY(180deg);
    left: -20%;
    z-index: -1;
  }
}



@keyframes carFour{
  0%{
    left: -15.5%;
  }
  50%{
    left: 115.5%;
    transform: rotateY(0);
    bottom: 0%;
    width: 15.5%;

  }
  51%{
    transform: rotateY(180deg);
    bottom: 14%;
    width: 14%;
    z-index: -1;
  }

  100%{
    bottom: 14%;
    width: 14%;
    transform: rotateY(180deg);
    left: -15.5%;
    z-index: -1;
    
  }
}

.animation-frame{
  position: relative;
  width: 99vw;
  height: 50vw;
  margin: 0 auto;
  overflow: hidden;
  &__back{
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: -2;
  }
  &__sky{
    position: absolute;
    width: 80%;
    top: 4%;
    right: 14%;
    animation-name: sky;
    animation-duration: 60s;
    animation-iteration-count: infinite;
  }
  &__sky_two{
    animation-delay: 30s;
    right: -80%;
  }
}

.trees{
  position: absolute;
  width: 100%;
  bottom: 40%;
  z-index: -1;
}

.tree{
  position: absolute;
  bottom: 0; 
  animation-name: tree;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
  

.trees > img:nth-child(1){
  left: 5%;
  width: 2%;
  animation-name: tree;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.trees > img:nth-child(2){
  left: 14%;
  width: 2.5%;
}
.trees > img:nth-child(3){
  left: 36%;
  width: 2%;
}
.trees > img:nth-child(4){
  left: 38%;
  width: 2.1%;
}
.trees > img:nth-child(5){
  left: 39.5%;
  width: 1.8%;
}
.trees > img:nth-child(6){
  left: 45%;
  width: 2%;
}
.trees > img:nth-child(7){
  left: 47%;
  width: 1.8%;
}
.trees > img:nth-child(8){
  left: 55.5%;
  width: 2.1%;
}
.trees > img:nth-child(9){
  left: 57%;
  width: 2%;
}
.trees > img:nth-child(10){
  left: 60%;
  width: 1.8%;
}
.trees > img:nth-child(11){
  left: 64%;
  width: 2.1%;
}
.trees > img:nth-child(12){
  left: 67%;
  width: 1.7%;
}
.trees > img:nth-child(13){
  left: 70%;
  width: 2%;
}
.trees > img:nth-child(14){
  left: 72%;
  width: 1.9%;
}
.trees > img:nth-child(15){
  left: 80%;
  width: 1.8%;
}
.trees > img:nth-child(16){
  left: 91%;
  width: 2%;
}




.cloud{
  position: absolute;
}


.sun{
  position: absolute;
  right: 14%;
  top: 5%;
  z-index: -3;
  animation-name: sun;
  animation-duration: 360s;
  animation-iteration-count: infinite;

}

.roads{
  position: absolute;
  width: 100%;
  height: 40%;
  top: 60%;
}

.roads > img:nth-child(2){
  top: 43%
}

.roads > img:nth-child(3){
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  top: 78%;
}

.road{
  position: absolute;
  width: 100%;
  top: 4%;
  z-index: -2;
}

.back-lantern-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  
}



.back-lantern{
  position: absolute;
  height: 47%;
  bottom: 26%;
  left: 35%;
}

.back-lantern_shadow{
  position: absolute;
  height: 1.5%;
  bottom: 25.5%;
  left: 37.4%;
}

.back-lantern-wrapper > img:nth-child(2){
  left: 90.5%;
}

.back-lantern-wrapper > img:nth-child(4){
  left: 88%;
}

.cars{
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 30%;
}

.car-one{
  position: absolute;
  width: 16%;
  height: 80%;
  bottom: 0;
  animation-name: carOne;
  animation-duration: 15s;
  animation-iteration-count: infinite;

}



.car-one__item{
  position: absolute;
  width: 100%;
  bottom: 0;
  
}

.car-one__wheel{
  position: absolute;
  width: 18%;
  bottom: 0;
  left: 14%;
  animation-name: wheel;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.car-one > img:nth-child(3){
  left: 72%;
}

.car-two{
  position: absolute;
  width: 14%;
  height: 80%;
  bottom: 0;
  animation-name: carTwo;
  animation-duration: 25s;
  animation-iteration-count: infinite;

}
.car-two__item{
  position: absolute;
  bottom: 0;
  width: 100%;

}


.car-three{
  position: absolute;
  width: 20%;
  height: 80%;
  bottom: 0;
  left: -20%;
  animation-name: carThree;
  animation-duration: 40s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}



.car-three__item{
  position: absolute;
  bottom: 0;
  width: 100%;
  animation-name: lowRider;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.car-four{
  position: absolute;
  width: 16.5%;
  height: 80%;
  bottom: 0;
  left: -15.5%;
  animation-name: carFour;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}

.car_shadow{
  position: absolute;
  bottom: -2%;
  width: 100%;
}

.car-four__item{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.car-four__wheel{
  position: absolute;
  width: 18%;
  bottom: 0;
  left: 13.5%;
  animation-name: wheel;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.car-four > img:nth-child(3){
  left: 72%;
}

.sunset{
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: colour;
  animation-duration: 360s;
  animation-iteration-count: infinite;
  z-index: +1;
  
}

//FRONT//
@keyframes message{
  0%, 100%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
}

@keyframes legs{
  0%, 100%{
    transform-origin: 90% 5%;
    transform: rotateZ(0);
  }
  50%{
    transform-origin: 90% 5%;
    transform: rotateZ(-90deg);
  }
}

@keyframes womanHand{
  0%, 100%{
    transform-origin: 3% 3%;
    transform: rotateZ(0);
  }
  50%{
    transform-origin: 3% 3%;
    transform: rotateZ(-65deg);
  }
}

@keyframes womanHead{
  0%, 100%{
    transform-origin: 45% 95%;
    transform: rotateZ(0);
  }
  50%{
    transform-origin: 45% 95%;
    transform: rotateZ(25deg);
  }
}


@keyframes manHand{
  0%, 100%{
    transform-origin: 6% 99%;
    transform: rotateZ(120deg);
  }
  50%{
    transform-origin: 5% 99%;
    transform: rotate(0);
  }
}

@keyframes manHead{
  0%, 100%{
    transform-origin: 50% 100%;
    transform: rotateZ(0);
  }
  50%{
    transform-origin: 50% 100%;
    transform: rotateZ(20deg);
  }
}

@keyframes taxi{
  0%{
    left: 158%;
  }
  20%{
    left: 41%;
  }
  50%{
    left: 41%;
  }
  100%{
    left: -58%;
  }
}

@keyframes taxiDriver{
  0%, 100%{
    transform-origin: 50% 90%;
    transform: rotateZ(0);
    top: 39%;
  }
  50%{
    transform-origin: 50% 90%;
    transform: rotateZ(-5deg);
    top: 40%;
  }

}

@keyframes hat{
  0%{
    transform-origin: 50% 50%;
    transform: rotateZ(20deg);
    left: 44.5%;
    top: 38%;
  }
  50%{
    transform-origin: 50% 50%;
    transform: rotateZ(1000deg);
    left: 80%;
    top: 0;
  }
  100%{
    transform-origin: 50% 50%;
    transform: rotateZ(0);
    left: 500%;
    top: 100%;
  }
}



.woman-wrapper > img{
  position: absolute;
}

.woman-wrapper{
  position: absolute;
  bottom: 5%;
  width: 13%;
  height: 36%;
  left: 15%;
  &__leg_left{
    width: 28%;
    left: 20%;
    bottom: 0;
    animation-name: legs;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  &__leg_right{
    width: 17%;
    left: 30%;
    bottom: 0;
    animation-name: legs;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

  }
  &__suitcases{
    width: 85%;
    left: 0;
    bottom: 0;
  }
  &__body{
    width: 48.5%;
    bottom: 25%;
  }
  &__arm{
    width: 16%;
    left: 6%;
    bottom: 48%;
  }
  &__hand{
    width: 29%;
    left: 15%;
    bottom: 37%;
    animation-name: womanHand;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  &__head{
    width: 24%;
    left: 3%;
    top: 10%;
    animation-name: womanHead;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  &__message{
    width: 80%;
    top: -25%;
    left: -40%;
    opacity: 0;
    animation-name: message;
    animation-duration: 4s;
    animation-delay: 2s;
  }
}


.man-wrapper > img{
  position: absolute;
}

.man-wrapper{
  position: absolute;
  bottom: 5%;
  width: 15%;
  height: 59%;
  left: 23.5%;
  &__hand_left{
    width: 38%;
    left: 0;
    top: 17%;
    transform-origin: 6% 99%;
    transform: rotateZ(120deg);
    animation-name: manHand;
    animation-duration: 4s;
    animation-delay: 5s;
  }
  &__head{
    width: 20%;
    top: 27%;
    left: 5%;
    animation-name: manHead;
    animation-duration: 6s;
    animation-delay: 6s;

  }
  &__body{
    width: 44%;
    bottom: 0;
    left: 0;
  }
  &__hand_right{
    width: 37%;
    left: 20%;
    top: 38.5%;
  }
  &__bag{
    width: 36%;
    bottom: 0;
    right: 14%;
  }
  &__message{
    width: 67%;
    left: 0;
    top: 10%;
    opacity: 0;
    animation-name: message;
    animation-duration: 4s;
    animation-delay: 6s;
  }
}

.taxi-wrapper > img{
  position: absolute;
}



.taxi-wrapper{
  position: absolute;
  bottom: 13%;
  width: 58%;
  height: 43%;
  left: 158%;
  animation-name: taxi;
  animation-duration: 10s;
  animation-delay: 5s;
  &__shadow{
    width: 95%;
    bottom: -15%;
    left: -2%;
    
  }
  &__body{
    width: 10%;
    left: 39%;
    top: 39%;
    animation-name: taxiDriver;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
  }
  &__taxi{
    width: 93%;
    bottom: 0;
  }
  &__hat{
    width: 4.5%;
    left: 44.5%;
    top: 38%;
    transform-origin: 50% 50%;
    transform: rotateZ(20deg);
    animation-name: hat;
    animation-duration: 5s;
    animation-delay: 10s;
  }
  &__message{
    width: 18%;
    left: 33%;
    top: 5%;
    opacity: 0;
    animation-name: message;
    animation-duration: 4s;
    animation-delay: 8s;
  }
}

.lantern{
  position: absolute;
  width: 12%;
  bottom: 5%;
  right: 20%;
}

