.blog-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 380px;
  @media screen and (max-width: 768px){
    max-width: 314px;
  }
  @media screen and (max-width: 375px){
    max-width: 335px;
  }

&__img-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60%;
}

& img{
  position: absolute;
  min-width: 100.5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

&__date{
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  margin-top: 16px;
}
&__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-top: 10px;
  margin-bottom: 0px;
}
&__title:hover,
&__title:focus{
  text-decoration: underline 2px;
}
&__text{
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
}
}