<div class="blog-card">
    <div class="blog-card__img-wrapper">
        <picture>
            <source srcset="/../../static/images/@@card-img-name, /../../static/images/2x/@@card-img-name 2x"
                    media="(screen)">

            <img src="/../../static/images/@@card-img-name" alt="post-image" class="blog-card__image">

        </picture>
    </div>
    <span class="blog-card__date">@@card-date</span>
    <a href="@@href" class="card__link">
        <h3 class="blog-card__title">@@card-title</h3>
    </a>
    <p class="blog-card__text">@@card-text</p>
</div>