.catalog-title{
    margin-bottom: 10px;
}

.product-catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
    margin-top: 38px;
    
    &__item{
        margin: 10px;
    }
    &__item:nth-child(4){
        margin-left: 210px;
    }
}









.catalog-info{
    max-width: 680px;
    margin: 0 auto;
    
    margin-top: 42px;
    padding-right: 105px;
    padding-bottom: 42px;
    &__title{
       margin-bottom: 25px;
    }
    &__text{
        
    }
}


