main.catalog-main {
 padding: 30px 0;
}
.catalog-block{
    margin-bottom: 45px;
}


.catalog-title{
    margin-top: -66px;
    margin-bottom: 5px;
}

.catalog-list-block{
    margin-top: 48px;
}

.catalog-product-list{
    justify-content: flex-start;
}





.catalog-product-item{
    margin-bottom: 6px;
    margin-right: 21px;
}


.catalog-product-item:nth-child(4){
    margin-left: 200px;
}


.catalog-info-title{
    margin-top: 8px;
    margin-bottom: 25px;
}

.catalog-info-block{
    display: flex;
    justify-content: center;
   
}

.catalog-element{
    max-width: 880px;
    margin-right: 100px;
    
}

.catalog-info{
    max-width: 680px;
}

.catalog-info-text{
    margin-bottom: 15px;
}