
.partners-section{
  &__list{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 110px;
    @media screen and (max-width: 648px) {
      grid-template-columns: repeat(2, 1fr);
    }
   
    
  }
  &__item{
  }
  &__link{
    display: block;
  }
  &__img{
    width: 80%;
    @media screen and (max-width: 768px){
      width: 80%;
    }
    @media screen and (max-width: 648px){
      scale: 0.8;
    }
  }
}
  