.toys-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 380px;
  padding-bottom: 30%;
  box-sizing: border-box;
  border: none;
  background: initial;
  @media screen and (max-width:768px){
    max-width: 203px;
    padding-bottom: 85px;
  }
  @media screen and (max-width:768px){
    max-width: 203px;
    padding-bottom: 75px;
  }
 

  & img{
    width: 100%;
  }

  &__appearing-block{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    padding: 25% 0;
    opacity: 0.9;
    
    background: #E5EAF8;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    opacity: 0;
    transition: 0.5s;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      padding: 15% 0;
    }
    @media screen and (max-width: 375px) {
      font-size: 17px;
    }
  }
  &__text{
    font-size: 14px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 39px;
  }
  &__price{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  &:hover > &__appearing-block,
  &:focus > &__appearing-block{
    opacity: 0.9;
    transition: 0.5s;
  }
  &:active > &__appearing-block{
    opacity: 0.6;
  }

}





