

.header{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 30px;
  
  &__logo{
    margin-right: 40px;
  }
  
  &__nav-wrapper{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  &__nav-list{
      display: flex;
    flex-wrap: wrap;
    }

  &__nav-list-item{
    margin-left: 20px;
  }
  
  &__nav-link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
  }

  &__nav-link_bold{
    font-weight: bold;
    }

    &__nav-link-lens{
      transform: translateY(2px);
      transform: translateX(-5px);
    }
    & a{
      transition-property: opacity;
      transition-duration: .4s;
    }
    & a:hover,
    & a:focus{
      opacity: 0.5;
    }
    & a:active{
      opacity: 0.2;
    }
}




  
  
  











