<header class="header">
    <div class="header__logo-wrapper">
        <a href="/../index.html" class="logo-link"><img src="/../../static/images/logo.svg" class="header__logo" alt="logo"></a>
    </div>
    <a href="#" class="header__nav-link header__menu-link_js">menu</a>
    <nav class="header__nav-wrapper">
        <ul class="header__nav-list">
            <li class="header__nav-list-item"><a href="/../pages/blog/index.html" class="header__nav-link">Blog</a></li>
            <li class="header__nav-list-item"><a href="/../pages/catalog/index.html" class="header__nav-link">Catalog</a></li>
            <li class="header__nav-list-item"><a href="#" class="header__nav-link">About Us</a></li>
            <li class="header__nav-list-item"><a href="/../pages/animation-scene/index.html" class="header__nav-link">Animation</a></li>
            <li class="header__nav-list-item"><a href="/../pages/grid/index.html" class="header__nav-link">grid</a></li>
        </ul>
        <ul class="header__nav-list">
            <li class="header__nav-list-item"><a href="#" class="header__nav-link"><img
                        class="header__nav-link-lens" src="/../../static/images/lens.svg" alt="search"></a></li>
            <li class="header__nav-list-item"><a href="/../pages/contact-us/index.html" class="header__nav-link header__nav-link_bold modal-button_js">Contact
                    Us</a></li>
        </ul>
    </nav>
    <div class="header__modal-menu_js hidden">
        <ul class="header__modal-menu-nav-list">
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    blog
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    catalog
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    about us
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    blog
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    animation
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    svg
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    grid
                </a>
            </li>
            <li class="header__modal-menu-nav-item">
                <a href="#" class="header__modal-menu-nav-link header__nav-link">
                    contact us
                </a>
            </li>
        </ul>
    </div>
</header>

  
