<header class="header container">
    <div class="header__logo">
        <a href="/../index.html" class="logo-link"><img src="/../../static/images/logo.svg" alt="logo"></a>
    </div>
    <nav class="header__nav-wrapper">
        <ul class="header__nav-list">
            <li class="header__nav-list-item"><a href="/../pages/blog/index.html" class="header__nav-link">Blog</a></li>
            <li class="header__nav-list-item"><a href="/../pages/catalog/index.html" class="header__nav-link">Catalog</a></li>
            <li class="header__nav-list-item"><a href="#" class="header__nav-link">About Us</a></li>
        </ul>
        <ul class="header__nav-list">
            <li class="header__nav-list-item"><a href="#" class="header__nav-link"><img
                        class="header__nav-link-lens" src="/../../static/images/lens.svg" alt="search"></a></li>
            <li class="header__nav-list-item"><a href="/../pages/contact-us/index.html" class="header__nav-link header__nav-link_bold modal-button_js">Contact
                    Us</a></li>
        </ul>
    </nav>
</header>

  
