// Подключение компонентов


@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400i,700i|Montserrat:700|Open+Sans:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);


body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  
}



.hidden{
  display: none;
}


ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  outline: none;
}

button:focus{
  outline: none;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 50px;

}


.section-title{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.page-title{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

/*BUTTONS & LINKS REACTIONNS*/

/*NORMAL HOVER ACTIVE
NO VISITED HOVER VISITED*/



button:hover{
  cursor: pointer;
}


input[type="range"]:hover{
  cursor: pointer;
}

.header a{
  transition-property: opacity;
  transition-duration: .4s;
}


.header a:hover,
.header a:focus{
  opacity: 0.5;
}


.header a:active{
  opacity: 0.2;

}


.slider__nav-button:hover,
.slider__nav-button:focus{
  background-color: #725F5B;
}




label:hover,
label:focus{
  cursor: pointer;
  text-decoration: underline;

}

.amount-button:hover{
  text-decoration: none;
  color: #877379;
  background-color: #EDDEEB;
}




.black-button:hover,
.black-button:focus{
  background-color: #C29974;
  cursor: pointer;
}

.black-button:active{
  background-color:  #CFAF91;
  transition: none;
  
}

.black-button:disabled{
  background-color: #C1C1C1;
  color: #E1E1E1;;
}



.category-product-block__link:hover,
.category-product-block__link:focus{
  text-decoration: underline;
}


.delivery-nav-button:hover,
.delivery-nav-button:focus{
  background-color: rgba(112, 187, 220, 0.2);
  font-weight: bold;

  
}



.contact-us-form label:hover{
  text-decoration: none;
}

input[type="text"]:hover,
textarea:hover,
input[type="text"]:focus,
textarea:focus{
  border: 3px solid rgba(0, 0, 0, 0.2);
}






.footer a{
  transition-property: opacity;
  transition-duration: .3s;
}


.footer a:hover,
.footer a:focus{
  opacity: 0.5;
}

.footer a:active{
  opacity: 0.2;
}


.blog-card-link:hover,
.blog-card-link:focus{
  text-decoration: underline;
}




.toys-button:hover > .appearing-block,
.toys-button:hover > .appearing-focus{
  opacity: 0.9;
  transition: 0.5s;
}

.toys-button:active > .appearing-block{
  opacity: 0.6;
}




.pagination-block button:hover,
.pagination-block button:focus{
  opacity: 0.5;
}

.partners-list a:hover,
.partners-list a:focus{
  opacity: 0.5;
  transition: 0.2s;
}

.partners-list a:active{
  opacity: 0.2;
}








.close-form-button:hover,
.close-form-button:focus{
  opacity: 0.5;
}


.close-form-button:active{
  opacity: 0.3;
}










.hidden {
  display: none;
}


@import "./header/header";

@import "./category-buttons/category-buttons";

@import "./category-product-link/category-product-link";



@import "./footer/footer";


@import "./black-button/black-button";

@import "./modal-form/modal-form";
@import "./slider/slider";

@import "./delivery-nav-button/delivery-nav-button";

@import "./breadcrumbs/breadcrumbs";

@import "./blog-card/block-card";

@import "./pagination/pagination";

@import "./toys-card/toys-card";

@import "./checkbox/checkbox";

@import "./input-radio-round/input-radio-round";

@import "./input-radio-squere/input-radio-squere";

@import "./contact-form/contact-form"