// Подключение компонентов


@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400i,700i|Montserrat:700|Open+Sans:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);


body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  
}



.hidden{
  display: none;
}


ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  outline: none;
}

button:focus{
  outline: none;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 50px;

}


.section-title{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.page-title{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

/*BUTTONS & LINKS REACTIONNS*/

/*NORMAL HOVER ACTIVE
NO VISITED HOVER VISITED*/



button:hover{
  cursor: pointer;
}


input[type="range"]:hover{
  cursor: pointer;
}

.header a{
  transition-property: opacity;
  transition-duration: .4s;
}


.header a:hover,
.header a:focus{
  opacity: 0.5;
}


.header a:active{
  opacity: 0.2;

}


.slider__nav-button:hover,
.slider__nav-button:focus{
  background-color: #725F5B;
}




label:hover,
label:focus{
  cursor: pointer;
  text-decoration: underline;

}

.amount-button:hover{
  text-decoration: none;
  color: #877379;
  background-color: #EDDEEB;
}




.black-button:hover,
.black-button:focus{
  background-color: #C29974;
  cursor: pointer;
}

.black-button:active{
  background-color:  #CFAF91;
  transition: none;
  
}

.black-button:disabled{
  background-color: #C1C1C1;
  color: #E1E1E1;;
}



.category-product__link:hover,
.category-product__link:focus{
  text-decoration: underline;
}


.delivery-nav-button:hover,
.delivery-nav-button:focus{
  background-color: rgba(112, 187, 220, 0.2);
  font-weight: bold;

  
}



.contact-us-form label:hover{
  text-decoration: none;
}

input[type="text"]:hover,
textarea:hover,
input[type="text"]:focus,
textarea:focus{
  border: 3px solid rgba(0, 0, 0, 0.2);
}






.footer a{
  transition-property: opacity;
  transition-duration: .3s;
}


.footer a:hover,
.footer a:focus{
  opacity: 0.5;
}

.footer a:active{
  opacity: 0.2;
}


.blog-card-link:hover,
.blog-card-link:focus{
  text-decoration: underline;
}




.toys-button:hover > .appearing-block,
.toys-button:hover > .appearing-focus{
  opacity: 0.9;
  transition: 0.5s;
}

.toys-button:active > .appearing-block{
  opacity: 0.6;
}




.pagination-block button:hover,
.pagination-block button:focus{
  opacity: 0.5;
}

.partners-list a:hover,
.partners-list a:focus{
  opacity: 0.5;
  transition: 0.2s;
}

.partners-list a:active{
  opacity: 0.2;
}








.close-form-button:hover,
.close-form-button:focus{
  opacity: 0.5;
}


.close-form-button:active{
  opacity: 0.3;
}






/*BLOG*/
.blog-header{
  margin-bottom: -70px;
}

.blog-page-title{
  margin-bottom: 5px;
}

.breadcrumbs-item:nth-child(3){
  margin-left: 4px;
}


.blog-card-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 2px;
}
.blog-card-item{
  margin-bottom: 16px;
}
.blog-card-block{
  width: 380px;
}
.blog-card-image{

}
.blog-card-date{
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  margin-top: 16px;

}
.blog-card-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-top: 10px;
  margin-bottom: 0px;
}
.blog-card-text{
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
}


.pagination-block_blog{
  margin-bottom: 46px;
}



/*CATEGORY PRODUCTS*/

.category-product-block{
  margin-bottom: 75px;
}


.category-product-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-product-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 270px;
  padding: 40px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  margin-bottom: 20px;
}

.category-product-link_1{
  background-image: url(/../static/images/product-button-1.jpg);
}


.category-product-link_2{
  background-image: url(/../static/images/product-button-2.jpg);
}


.category-product-link_3{
  background-image: url(/../static/images/product-button-3.jpg);
}

.category-product-link_4{
  background-image: url(/../static/images/product-button-4.jpg);
}


.category-product-link_5{
  background-image: url(/../static/images/product-button-5.jpg);
}


.category-product-link_6{
  background-image: url(/../static/images/product-button-6.jpg);
}

.category-product-nav-block{
  display: flex;
  align-items: center;
  margin-top: -23px;
}

.arrow-buttons-block{
  display: flex;

  margin-right: 14px;

}

.arrow-button{
  width: 37px;
  height: 37px;
  background-color: rgba(112, 187, 220, 0.2);
  border: none;
  background-image: url(/../static/images/left-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.arrow-button:nth-child(2){
  background-image: url(/../static/images/right-arrow.svg);
}

.category-product-nav-text{
  max-width: 580px;
}




/*CATEGORY PRODUCT*/


.contact-us-title{
  margin-top: -70px;
  margin-bottom: 16px;
}


.contact-us-uniting-block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 49px;
  margin-bottom: 22px;
}

.contact-us-form{
  display: flex;
  flex-direction: column;
  width: 57.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606;
  background-color: #E5EAF8;
  padding: 41px 40px;
  
  box-sizing: border-box;
  margin-bottom: 40px;
}

.contact-us-form label{
  margin-bottom: 7px;
}



.double-input-block{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
}

.input-block:nth-child(1){
  margin-right: 20px;
}

.input-block{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 100px;
  width: 289px;
}

.textarea-label{
  display: flex;
  flex-direction: column;
}

.contact-us-form input{
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 14px 20px;
  margin-bottom: 19px;
  box-sizing: border-box;
  
}

.contact-us-form textarea{
  font-size: 18px;
  height: 150px;
  box-sizing: border-box;
  line-height: 22px;
  padding: 14px 20px;
  margin-top: 7px;
  resize: none;
  margin-bottom: 15px;
  
}

.form-checkbox{
  position: absolute;
  opacity: 0;

}

.form-checkbox_newstyle{
  position: relative;
  margin-right: 34px;
  
}

.form-checkbox_newstyle::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  
}

.form-checkbox:checked + .form-checkbox_newstyle::after{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
  background-image: url(/../static/images/checked.svg);
  background-repeat: no-repeat;
  background-position: 1px -2px;
  top: 50%;
  transform: translateY(-50%);

}

.form-checkbox:focus + .form-checkbox_newstyle::before{
  border: 3px solid #C29974;
}

.form-button{
  margin-top: 13px;
}


.contact-us-info-block{
  max-width: 380px;
}

.contact-us-info-block p:nth-child(1){
  margin-top: 0;
  margin-bottom: 20px
}




.contact-us-info-text{
  font-size: 16px;
  line-height: 22px;
}


.contact-us-info-text_big{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase; 
  color: #C29974;
  margin-top: 19px;
}




/*MODAL*/

.modal-window{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 151, 218, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  
}







/*TOYS FILTER*/


.toys-filter-section{
  background-color: rgba(125, 151, 218, 0.2);
  padding-bottom: 15px;
  margin-bottom: 59px;
}



.toys-filter-form{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  align-items: flex-start;
}


.toys-filter-form label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.toys-form-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-bottom: 10px;
}


.filter-range-input{
  width: 190px;
}

.toys-form-title_cost{
  margin-bottom: 19px;
}


.filter-cost-block{
  min-width: 220px;
  width: 25.5%;
}

.filter-cost-block>label{
  display: block;
  margin-bottom: 5px;
}


.range-value{
  max-width: 180px;
  display: flex;
  justify-content: space-between;
}

.range-value > :nth-child(2){
  transform: translateX(25px);
}


.filter-color-block{
  min-width: 180px;
  width: 16.9%;
}



.filter-checkbox-list{
  transform: translateY(-6px);
}


.filter-checkbox-item{
  margin-bottom: 15px;
}


.color-checkbox{
  position: absolute;
  opacity: 0;
}



.color-checkbox_newstyle{
  position: relative;
  margin-right: 28px;
}

.color-checkbox_newstyle::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 2px;
}


.color-checkbox:focus + .color-checkbox_newstyle::before{
  border: 3px solid #C29974;
} 


.color-checkbox:checked + .color-checkbox_newstyle::after{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  background-image: url(/../static/images/checked.svg);
  background-repeat: no-repeat;
  background-position: 2px -2px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 2px;
}



.filter-delivery-block{
  min-width: 150px;
  width: 16.9%;
}


.filter-radio-item{
  margin-bottom: 9px;
}

.original-radio{
  position: absolute;
  opacity: 0;
}


.new-radio-style{
  position: relative;
  margin-right: 30px;
}

.new-radio-style::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.original-radio:focus + .new-radio-style::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #C29974;
  box-sizing: border-box;
  border-radius: 50%;
  top: 50% solid #C29974;
  transform: translateY(-50%);
}

.original-radio:checked + .new-radio-style::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color:  #C29974;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}


.filter-amount-block{
  min-width: 250px;
  width: 25.4%;
}



.filter-amount-list{
  display: flex;
}

.original-radio__amount{
  opacity: 0;
  position: absolute;
}



.amount-button{
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 0;
  font-size: 16px;
  line-height: 22px;
  width: 80px;
  height: 35px;
  background-color: #ffffff;
}

.original-radio__amount:focus + .amount-button{
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 0;
  font-size: 16px;
  line-height: 22px;
  width: 80px;
  height: 35px;
  background-color:#F3D0DB;
  border: rgb(102, 68, 68) solid 1px;


}


.original-radio__amount:checked + .amount-button{
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 0;
  font-size: 16px;
  line-height: 22px;
  width: 80px;
  height: 35px;
  background-color:#F3D0DB;
}




.filter-button-block{
  align-self: center;
  padding-bottom: 63px;
  width: 10%;
  min-width: 160px;
}
  


/*TOYS*/


.toys-page-title{
  margin-top: -69px;
  margin-bottom: 16px;
}


.toys-breadcrumbs-list{
  margin-bottom: 47px;
}





.toys-catalog-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.toys-catalog-item{
  margin-bottom: 30px;
}


/*TOYS-BUTTON*/
.toys-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 380px;
  height: 487px;
  box-sizing: border-box;
  background-image: url(/../static/images/toys-button1.png);
  background-repeat: no-repeat;
  background-color: initial;
  border: none;
}



.appearing-block{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 207px;
  height: 207px;
  opacity: 0.9;
  margin: 82px auto;
  background: #E5EAF8;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: black;

  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}


.catalog-card-text{
  font-size: 14px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 39px;
}

.catalog-price{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.toys-button:hover > .appearing-block,
.toys-button:focus > .appearing-block{
  opacity: 0.9;
  transition: 0.5s;
}

.toys-button:active > .appearing-block{
  opacity: 0.6;
}
/*TOYS-BUTTON*/


.toys-button_2{
  background-image: url(/../static/images/toys-button2.png);
}

.toys-button_3{
  background-image: url(/../static/images/toys-button3.png);
}

.toys-button_4{
  background-image: url(/../static/images/toys-button4.png);
}

.toys-button_5{
  background-image: url(/../static/images/toys-button5.png);
}

.toys-button_6{
  background-image: url(/../static/images/toys-button6.png);
}


.toys-pagination-menu{
  margin-bottom: 48px;
  margin-top: 16px;
}

/*breadcrumbs*/

.breadcrumbs-list{
  display: flex;
  align-items: center;
}

.breadcrumbs-item{
  margin-right: 20px;
}

.breadcrumbs-link{
  display: block;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.breadcrumbs-link_active{
  opacity: 0.5;
}

.breadcrumbs-arrow{
  width: 8px;
  height: 12px;
  background-image: url(/../static/images/right-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


/*PAGINATION*/

.pagination-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-number-list{
  display: flex;
  align-items: center;
}

.pagination-number-item{
  margin: 0 25px;
}


.pagination-button{
  border: none;
  background-color: initial;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
}



.pagination-button-number_actual{
  color: #C29974;
}

.pagination-button-left{
  width: 13px;
  height: 26px;
  background-image: url(/img/left-arrow_grey.svg);
  background-position: center;
  
}

.pagination-button-right{
  width: 13px;
  height: 26px;
  background-image: url(/img/right-arrow_grey.svg);
  background-position: center;
}

.hidden {
  display: none;
}

.delivery-nav-button__checked{
  background-color: rgba(112, 187, 220, 0.2);
  font-weight: bold;
}

@import "./header/header";

@import "./category-product/category-product";

@import "./footer/footer";


@import "./black-button/black-button";

@import "./modal-form/modal-form";
@import "./slider/slider";

@import "./delivery-nav-button/delivery-nav-button"

