.contact-form{
  display: flex;
  flex-direction: column;
  width: 57.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606;
  background-color: #E5EAF8;
  padding: 41px 40px;
  
  box-sizing: border-box;
  margin-bottom: 40px;
}

.contact-form label{
  margin-bottom: 7px;
}



.double-input-block{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
}

.input-block:nth-child(1){
  margin-right: 20px;
}

.input-block{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 100px;
  width: 289px;
}

.textarea-label{
  display: flex;
  flex-direction: column;
}

.contact-form input{
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 14px 20px;
  margin-bottom: 19px;
  box-sizing: border-box;
  
}

.contact-form textarea{
  font-size: 18px;
  height: 150px;
  box-sizing: border-box;
  line-height: 22px;
  padding: 14px 20px;
  margin-top: 7px;
  resize: none;
  margin-bottom: 15px;
  
}




.form-button-wrapper{
  margin-top: 13px;
}



.modal-form{
  position: absolute;
  max-width: 680px;
  right: 50%;
  transform: translateX(50%);
  top: 25%;
}

.close-form-button{
  position: absolute;
  width: 15px;
  height: 15px;
  right: -26px;
  top: 0;
  background-color: initial;
  background-image: url(/../static/images/close-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;



}
