<form action="" class="contact-form @@class">
    <label for="name">Name</label>
    <input type="text" id="name">
    <div class="double-input-block">
        <div class="input-block phone-input-block">
            <label for="phone">Phone</label>
            <input type="text" id="phone">
        </div>
        <div class="input-block email-input-block">
            <label for="email">Email</label>
            <input type="text" id="email">
        </div>
    </div>
    <label class="textarea-label" for="message">
        Message
        <textarea name="message" id="message" cols="30" rows="5"></textarea>
    </label>
    @@include('checkbox/index.html',{
        "class":"checkbox-wrapper__newstyle_form",
        "label":"By clicking on the button, you consent to the processing of your personal data"
    })
    <div class="form-button-wrapper">
        @@include('black-button/index.html',{
            "text":"submit"
        })
    </div>
    <button class="close-form-button"></button>
</form>