.delivery-nav-button{
    display: block;
    width: 326px;
    height: 55px;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 19px;
    color: #1E0606;
    border: none;
    background-color: initial;
    padding-right: 180px;
    padding-left: 60px;
    margin-left: -60px;
    text-align: left;
    
  
  }
  