<footer class="footer">
  <div class="container">
      <nav class="footer__nav-wrapper">
          <ul class="footer__nav-list ">
              <li class="footer__nav-list-item">
                  <h3 class="footer__nav-title">Navigation</h3>
              </li>
              <li class="footer__nav-list-item">
                  <hr class="footer__separating-line">
              </li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link ">About Us</a></li>
              <li class="footer__nav-list-item"><a href="/pages/blog.html"
                      class="footer__nav-link">Blog</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Design Services</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Featured On</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">2018 Holiday Catalog</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Shop By Designer</a></li>
          </ul>
          <ul class="footer__nav-list">
              <li class="footer__nav-list-item">
                  <h3 class="footer__nav-title">Customer Information</h3>
              </li>
              <li class="footer__nav-list-item">
                  <hr class="footer__separating-line">
              </li>
              <li class="footer__nav-list-item"><a href="/pages/contact-us.html"
                      class="footer__nav-link">Contact Us</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Sale Exclusions</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Shipping & Returns</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Terms & Conditions</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Privacy Policy</a></li>
              <li class="footer__nav-list-item"><a href="#"
                      class="footer__nav-link">Search</a></li>
          </ul>
          <ul class="footer__nav-list">
              <li class="footer__nav-list-item">
                  <h3 class="footer__nav-title">Connect</h3>
              </li>
              <li class="footer__nav-list-item">
                  <hr class="footer__separating-line">
              </li>
              <li class="footer__nav-list-item">
                  <form class="footer-form" action="" method=""><input class="footer-form-input" type="text"
                          placeholder="Email"><button class="black-button">Join</button></form>
              </li>
              <li class="footer__nav-list-item">
                  <ul class="footer__social-list">
                      <li class="footer__social-list-item"><a href="https://www.facebook.com"
                              class="footer__social-link footer__social-link_fb"></a></li>
                      <li class="social-links-list-item"><a href="https://www.twitter.com"
                              class="footer__social-link footer__social-link_twtr"></a></li>
                      <li class="social-links-list-item"><a href="https://www.pinterest.com"
                              class="footer__social-link footer__social-link_pint"></a></li>
                      <li class="social-links-list-item"><a href="https://www.instagram.com"
                              class="footer__social-link footer__social-link_inst"></a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      <div class="footer-sub-block">
          <div class="footer-sub-block-item footer-sub-block-rating">
              
              <div class="rating-area__list">
                  

                  <input type="radio" id="star-5" name="rating" value="5">
                  <label for="star-5" class="star-push"></label>	
              
                 
                  <input type="radio" id="star-4" name="rating" value="4">
                  <label for="star-4" class="star-push"></label>    
          
          
                  <input type="radio" id="star-3" name="rating" value="3">
                  <label for="star-3" class="star-push"></label>  
          
              
                  <input type="radio" id="star-2" name="rating" value="2">
                  <label for="star-2" class="star-push"></label>    
          
              
                  <input type="radio" id="star-1" name="rating" value="1">
                  <label for="star-1" class="star-push"></label>

                  <input type="radio" id="star-1" name="rating" value="1">
                  <label for="star-1" class="rating-text">Company Rating</label>
                  
          
          </div>
          </div>
          <div class="footer-sub-block-item footer-sub-block-copyright footer-text footer-text_white">Copyright ©
              2018 Dlk • Design Life Kids</div>
          <a href="#"><div class="footer-sub-block-item footer-sub-block-signature footer-text">Web Design — Direct Line
              Development</div></a>
      </div>
  </div>
</footer>