<ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/../index.html" class="breadcrumbs__link">Home</a></li>
    <li class="breadcrumbs__item">
        <div class="breadcrumbs__arrow"></div>
    </li>
    <li class="breadcrumbs__item"><a href="@@second-href" class="breadcrumbs__link @@second-link-class">@@second-link-name</a>
    </li>
    <li class="breadcrumbs__item">
        <div class="breadcrumbs__arrow @@arrow-class"></div>
    </li>
    <li class="breadcrumbs__item"><a href="@@third-href"
            class="breadcrumbs__link @@third-link-class">@@third-link-name</a>
    </li>
</ul>