<section class="slider">
    <div class="slider__nav">
      <img class="slider__nav-number" src="/../../static/images/01.svg" alt="">
      <ul class="slider__nav-button-list">
        <li class="slider__nav-item">
          <button class="slider__nav-button slider__nav-button_active"></button>
        </li>
        <li class="slider__nav-item">
          <button class="slider__nav-button"></button>
        </li>
        <li class="slider__nav-item">
          <button class="slider__nav-button"></button>
        </li>
        <li class="slider__nav-item">
          <button class="slider__nav-button"></button>
        </li>
      </ul>
    </div>
    <img class="slider__image" src="/../../static/images/slider-image.png" alt="slider">
    <div class="slider__title-block">
      <h2 class="slider__title">THE OOH NOO COLLECTION</h2>
      <p class="slider__subtitle">Designed in Slovenia</p>
      @@include('black-button/index.html',{
        "text": "explore now"
      })
    </div>

    <div class="slider__sub-block">Free (continental) USA shipping on all orders of $100 USD or more!</div>
  </section>